@charset "UTF-8";
body{
    background: -moz-linear-gradient(left, #87cefa, #FFF);
    background: -webkit-linear-gradient(left,#87cefa, #FFF);
    background: linear-gradient(to right,#87cefa, #FFF);
    text-align: center; 
}    
h1, p{
    text-align: center;
}
form {
    background-color: #eaeaea;
    padding: 30px 60px;
}
form dl dt{
    width: 100px; 
    padding:10px 0; 
    float: left;
    clear: both;
}
.post {
    margin: auto;
    width: 100px;
    height:50px; 
}
